# jflap
JFLAP7.1.jar

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore failed snapshots
*.snap.debug

# intelij
.idea

# .env files
.env

# patch files and zips
*.patch
*.zip

# postfix files
app/sample/postfix
app/sample/jvm

# macos zips
.DS_STORE
